.bg-home {
  background-image: url(https://ticket.flc.vn/assets/default/images/support-5.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  min-height: 425px;
  width: 100%;
}

#cursor-bg {
  cursor: url(../../assets/imgs/cursor.png), auto;
}

.timeline-bg {
  background-image: url(../../assets/imgs/Timeline/timeline_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-bot-bg {
  background-image: url(../../assets/imgs/background-gradient02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-login {
  background-image: url(../../assets/imgs/bg-login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.careers-item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 60px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.careers-item:hover {
  background-color: #0755d1;
}
.careers-item:hover > p {
  color: #fff;
}

.btn-login {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(
    224deg,
    rgba(245, 120, 248, 0.5) -56.57%,
    rgba(38, 102, 207, 0.5) 67.9%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  font-family: Nunito;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.text-gradient {
  background: -webkit-linear-gradient(135deg, #42d392, #0755d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
