@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0755d1;
  transition: all 0.2s;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(7, 85, 209, .8);
}

.container-app {
  @apply container mx-auto max-w-container;
}

.heading {
  @apply text-[26px] text-primary font-normal;
}

/* .input-app {
  @apply border outline-none border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-primary focus:border-primary block w-full h-[34px] px-2.5;
} */

.btn-app {
  @apply text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-blue-300 font-medium rounded-sm text-sm w-full sm:w-auto px-5 py-2.5 text-center;
}
.btn-danger {
  @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 font-medium rounded-sm text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
}
.btn-success {
  @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-green-300 font-medium rounded-sm text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
}
.btn-warn {
  @apply focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300 font-medium rounded-sm text-sm px-5 py-2.5 dark:focus:ring-yellow-900;
}

.btn-app {
  background-color: #0755d1;
}
.btn-app:hover {
  background-color: rgb(33, 131, 146, .8);
}
.btn-send {
  background: linear-gradient(276deg, #0081FF 44.33%, rgba(30, 144, 255, 0.75) 98.56%);
  /* background: linear-gradient(90deg, #0062FF 0%, rgb(0, 129, 255, .7) 100%); */
  /* background: linear-gradient(90deg, #0062FF 0%, #65D1FF 100%); */
  box-shadow: 0px 10px 20px 0px rgba(30, 144, 255, 0.25);
}
.btn-send:hover {
  background-color: rgb(30, 144, 255, .8);
}
.btn-refresh {
  background: linear-gradient(273deg, #00B692 4.95%, rgba(26, 188, 156, 0.80) 93.62%);
  box-shadow: 0px 10px 20px 0px rgba(26, 188, 156, 0.50);
}
.btn-refresh:hover {
  background-color: rgb(26, 188, 156, .8);
}
.btn-cancel {
  background: linear-gradient(276deg, #EE0016 44.33%, rgba(255, 56, 74, 0.80) 98.56%);
  box-shadow: 0px 10px 20px 0px rgba(255, 56, 74, 0.15);
}
.btn-cancel:hover {
  background-color: rgb(255, 56, 74, .8);
}
.btn-check {
  background-color: #0D9276;
}
.btn-check:hover {
  background-color: rgb(13, 146, 118, .8);
}


.btn-common {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all .2s ease-in-out;
  padding: 10px 18px;
  border-radius: 15px;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  outline: none;
}
.btn-common img {
  width: 20px;
}

.divide {
  @apply border-b border-[#eee] mt-2 mb-4 block;
}

.required::after {
  content: " *";
  color: #f00;
}

.particles-container {
  height: 450px;
}

.card-app {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.input-app {
  @apply font-poppins outline-none w-full pl-[60px] h-[60px] border border-[rgba(76,_76,_76,_0.1)] shadow-[0_0_10px_0_rgba(0,_0,_0,_0.1)] pr-[20px] py-2 placeholder:uppercase placeholder:tracking-[0.2em] placeholder:text-[#747474] placeholder:text-[12px] focus:shadow-none focus:border-[rgba(76,_76,_76,0.3)];
}

.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}
.container2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container2 {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .container2 {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .container2 {
    max-width: 540px;
  }
}

.common-input,
.common-textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  /* border: 1px solid rgba(76, 76, 76, 0.1); */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #1d2024;
  font-size: 14px;
  letter-spacing: 1.2px;
  outline: none;
  border-radius: 2px;
  border: 1px solid transparent;
}

.common-input {
  height: 60px;
  padding: 9px 30px 9px 60px;
  font-weight: 500;
}

.common-textarea {
  padding: 20px 20px 20px 60px;
}

.common-input::placeholder,
.common-textarea::placeholder {
  font-family: "Poppins", sans-serif;
  color: #0755d1;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-weight: 500;
}
.common-input:focus,
.common-textarea:focus {
  border: 1px solid rgb(7, 85, 209, .8);
  box-shadow: 0 0 8px 1px rgb(7, 85, 209, .3);
}

.header-on-scroll {
  top: 0;
}

/* @media (min-width: 623px) and (max-width: 935px) {
  .header-on-scroll {
    top: 87px;
  }
}
@media (min-width: 421px) and (max-width: 622px) {
  .header-on-scroll {
    top: 119px;
  }
}
@media screen and (max-width: 420px) {
  .header-on-scroll {
    top: 116px;
  }
} */

.hidden-scroll::-webkit-scrollbar {
  display: none;
}
